<div class="btn-group" style="float:right;">
    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a ng-click="showEditMode()">Edit</a></li>
        <li><a ng-click="delete()">Delete</a></li>
    </ul>
</div>
<h2>{{friend.name || "No Name"}}</h2></div>

<img style="float: left;margin-right: 1em;" ng-src="{{profile.image}}" class="profileImage"/>

<table class="profileTable">
    <tr>
        <td><label>Profile Name</label></td>
        <td>{{profile.name}}</td>
    </tr>
    <tr>
        <td><label>eMail</label></td>
        <td><a href="mailto:{{profile.email}}">{{profile.email}}</a></td>
    </tr>
    <tr>
        <td><label>Remote Storage ID</label></td>
        <td>{{friend.userAddress}}</a></td>
    </tr>
</table>

<div ng-hide="!editMode" class="clearLeft">
    <div ng-include src="'partials/friend-form.html'">Loading...</div>
    <button class="btn btn-primary" ng-click="save()">Save</button>
</div>

<h2 class="clearLeft" style="margin-top: 4em;">{{friend.name || "No Name"}}'s Stuff</h2>

<ul class="unstyled stuffList friendStuffList">
    <li ng-repeat="stuff in stuffList | orderBy:'title'">
        <h3>{{stuff.title}}</h3>
        <span stuff-image src="{{stuff.image}}"/>
        <p class="description" ng-bind-html="stuff.description | linky"></p>
        <div class="owner">{{ stuff.modified | date}} <a ng-show="stuff.link" href="{{stuff.link}}" target="link">External Link</a></div>
    </li>
</ul>