<form id="loginForm" class="itemForm" method="POST" target="#" ng-submit="login()">
    <h2>Login to Shared Stuff</h2>
    <label for="remoteStorageId">Remote Storage ID</label>
    <input id="remoteStorageID" type="text" placeholder="Example: shybyte@owncube.com" autofocus="true"
           value="shybyte@owncube.com" ng-model="userAddress" ng-model-instant/>

    <button class="btn btn-primary">Login</button>

    <p>
        You need an <a href="http://unhosted.org/#remotestorage" target="_blank">remoteStorage</a> account to use Shared Stuff. If you haven't yet,
        get free remoteStorage at <a href="https://5apps.com/" target="_blank">5apps</a> or <a href="https://owncube.com/" target="_blank">OwnCube</a> and come back.
    </p>

</form>